<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PMQLKS.Properties.Settings.QLKS1ConnectionString"
            connectionString="Data Source=DESKTOP-297V8VI;Initial Catalog=QLKS1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PMQLKS.Properties.Settings.QLKSConnectionString" connectionString="Data Source=DESKTOP-NVM2JRU\SQLEXPRESS;Initial Catalog=QLKS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PMQLKS.Properties.Settings.PMQLKSNConnectionString"
            connectionString="Data Source=DESKTOP-PPUSOIT\SQLEXPRESS;Initial Catalog=PMQLKSN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PMQLKS.Properties.Settings.HotelManagerNConnectionString"
            connectionString="Data Source=DESKTOP-PPUSOIT\SQLEXPRESS;Initial Catalog=HotelManagerN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PMQLKS.Properties.Settings.HotelManagerNConnectionString1"
            connectionString="Data Source=DESKTOP-297V8VI;Initial Catalog=HotelManagerN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PMQLKS.Properties.Settings.HotelManagerMainConnectionString"
            connectionString="Data Source=DESKTOP-297V8VI;Initial Catalog=HotelManagerMain;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PMQLKS.Properties.Settings.HotelManagerMConnectionString"
            connectionString="Data Source=DESKTOP-297V8VI;Initial Catalog=HotelManagerM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PMQLKS.Properties.Settings.HotelManagerConnectionString"
            connectionString="Data Source=DESKTOP-297V8VI;Initial Catalog=HotelManager;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PMQLKS.Properties.Settings.HotelManagerNewConnectionString"
            connectionString="Data Source=DESKTOP-297V8VI;Initial Catalog=HotelManagerNew;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PMQLKS.Properties.Settings.HotelManagerNewConnectionString1"
            connectionString="Data Source=DESKTOP-REHBC99\SQLEXPRESS;Initial Catalog=HotelManagerNew;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PMQLKS.Properties.Settings.HotelManagerNew1ConnectionString"
            connectionString="Data Source=DESKTOP-REHBC99\SQLEXPRESS;Initial Catalog=HotelManagerNew1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PMQLKS.Properties.Settings.HotelManagerNewConnectionString2"
            connectionString="Data Source=DESKTOP-PPUSOIT\SQLEXPRESS;Initial Catalog=HotelManagerNew;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
